body{
    background-color: #161a1d;
}
.navbar{
    background-color: #a4161a!important;
}
.nav-link{
    color: #f5f3f4 !important;
    font-family: 'Staatliches', cursive !important;
}
.nav-item:hover{
    background-color: #660708;
}
.navbar-brand{
    color: #f5f3f4 !important;
    font-family: 'Staatliches', cursive !important;
}
.container-fluid{
    padding-right: 0px;
}